Repository kytos/kytos, pull requests merged in 2020-11, with the labels that each got.

#1199 Update events.rst - k-status-bar example
  docs/developer/events.rst
Labels: doc

#1205 Update example to show all REST endpoints
  docs/developer/rest_endpoints.rst
Labels: doc

#1206 Remove call to `load_napp` when enabling a NApp
  kytos/core/napps/manager.py
Labels: bug, pri:critical

#1200 Added a configuration field to change token expiration time
  kytos/core/auth.py
  kytos/core/config.py
  kytos/templates/kytos.conf.template
Labels: enhancement

#1203 Create a Blueprints section for the Dev Guide
  docs/blueprints/EP000.rst
  docs/blueprints/EP001.rst
  docs/blueprints/EP002.rst
  docs/blueprints/EP003.rst
  docs/blueprints/EP004.rst
  docs/blueprints/EP005.rst
  docs/blueprints/EP006.rst
  docs/blueprints/EP007.rst
  docs/blueprints/EP008.rst
  docs/blueprints/EP009.rst
  docs/blueprints/EP010.rst
  docs/blueprints/EP011.rst
  docs/blueprints/EP012.rst
  docs/blueprints/EP013.rst
  docs/blueprints/EP014.rst
  docs/blueprints/EP015.rst
  docs/blueprints/EP016.rst
  docs/blueprints/EP017.rst
  docs/blueprints/EP018.rst
  docs/blueprints/EP019.rst
  docs/blueprints/EP020.rst
  docs/blueprints/EP021.rst
  docs/developer/index.rst
Labels: doc

#1202 Update Blueprints index.rst
  docs/Makefile
  docs/blueprints/index.rst
  docs/blueprints/make_blueprints_table.py
Labels: doc

#1208 Update admin guide with parameter to create superuser
  docs/admin/configuring.rst
Labels: doc

#1209 Updated the docs example of components events usage
  docs/developer/events.rst
Labels: doc

#1096 New section about implementation of compressed and expanded formats for toolbar components UI
  docs/developer/web-ui.rst
Labels: doc

#1204 Update components' docs: accordion, tooltip and title.
  docs/_static/images/components/accordion/k-accordion.png
  docs/developer/components.rst
Labels: doc

#1211 Update get_interface_by_port_no method to work with v0x01 and v0x04.
  kytos/core/switch.py
Labels: enhancement
