Repository kytos/kytos, pull requests merged in 2021-04, with the labels that each got.

#1100 Blueprint for the statistics and reports
  docs/blueprints/EP022.rst
Labels: blueprint

#1045 Create from_dict method for Interface, UNI, Switch and Link
  kytos/core/interface.py
  kytos/core/link.py
  kytos/core/switch.py
Labels: enhancement

#1229 Add consistency documentation
  docs/developer/consistency.rst
  docs/developer/img/consistency_cases.png
  docs/developer/img/consistency_cases.svg
  docs/developer/img/consistency_data_structure.png
  docs/developer/img/consistency_data_structure.svg
  docs/developer/index.rst
  docs/developer/intro.rst
Labels: doc
